.swipe_box
    border-radius: 20px
    margin: auto
    width: 800px
    height: 900px
    color: white
    font-size: 40px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.swipe_user
    border-radius: 20px
    margin: auto
    width: 500px
    height: 650px
    background-color: rgba(22, 22, 22, 0.396)
    -webkit-backdrop-filter: blur(2px)
            backdrop-filter: blur(2px)
    color: white
    font-size: 30px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    box-shadow: rgba(255, 66, 233, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
    transition: all 0.15s ease-in-out
    overflow: hidden

.picture_user
    margin-top: 20px
    border-radius: 20px
    width: 450px
    height: 450px
    background-color: rgba(22, 22, 22, 0.396)
    -webkit-backdrop-filter: blur(2px)
    backdrop-filter: blur(2px)
    color: white
    font-size: 30px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    box-shadow: rgba(255, 66, 233, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
    transition: all 0.15s ease-in-out

.picture_user_switch_right
    animation: swiped_right 0.5s ease-in-out

@keyframes swiped_right
    0% 
        transform: translateX(0px)
    100% 
        transform: rotate(20deg)
        transform: translateX(500px)

.picture_user_switch_left
    animation: swiped_left 0.5s ease-in-out

@keyframes swiped_left
    0% 
        transform: translateX(0px)
    100% 
        transform: rotate(20deg)
        transform: translateX(-500px)


.swipe_user_info
    display: flex
    flex-direction: row
    margin: auto
    text-align: center
    justify-content: center
    align-items: center

.swipe_user_name
    font-color: white
    font-size: 30px
    text-align: left

.swipe_user_age
    font-color: white
    font-size: 25px
    text-align: left
    padding-left: 10px

.swipe_user_gender
    padding-left: 10px
    font-color: white
    font-size: 25px
    text-align: left

.swipe_buttons_box
    width: 200px
    height: 100px
    margin-top: auto
    display: flex
    flex-direction: row
    align-content: space-between
    align-items: center
    justify-content: center

.swipe_button
    border-radius: 100%
    font-size: 45px
    width: 60px
    height: 60px
    color: white
    background: none
    background-color: none
    border: none
    margin-right: 30px
    transition: transform 0.3s 
    transform: scale(1.2)
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2)
    &:hover
        cursor: pointer
        transform: scale(1.5)

.like_button
    font-size: 40px
    width: 60px
    height: 60px
    border-radius: 100%
    background: none
    background-color: none
    border: none
    color: limegreen
    margin-left: 30px
    transform: scale(1.2)
    transition: transform 0.3s
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2)
    &:hover
        cursor: pointer
        transform: scale(1.5)

.homepage_button
    border: none
    margin-left: 3px
    margin-right: 3px
    background: none
    color: white
    color: white
    font-size: 20px
    transition: all 0.15s ease-in-out
    &:hover
        cursor: pointer
        scale: 1.2

.profile_button
    border: none
    margin-left: 3px
    margin-right: 3px
    background: none
    color: white
    color: white
    font-size: 20px
    transition: all 0.15s ease-in-out
    &:hover
        cursor: pointer
        scale: 1.2


.search_button
    border: none
    margin-left: 3px
    margin-right: 3px
    background: none
    color: white
    color: white
    font-size: 20px
    transition: all 0.15s ease-in-out
    &:hover
        cursor: pointer
        scale: 1.2


